.sq {
	width: 36px;
	height: 36px;
	float: left;
	background-color: #ccc;
	border-radius:3px;
	margin-right:1px;
	margin-bottom:1px;
	position:absolute;
	/* opacity: 1; */
}

.sq2 {
	width: 18px;
	height: 18px;
	float: left;
	background-color: #ccc;
	border-radius:3px;
	margin-right:1px;
	margin-bottom:1px;
}

.game-wrapper {
	width: 560px;
	margin: auto;
	/* border: 1px solid #e5e5e5; */
	display: table;
}

.grid-wrapper {
	width:400px;
	float:left;
	display: table-cell;
	padding:0px 0px 20px 20px;	
	position: relative;
}

.pieces {
	float:right;	
	display: table-cell;
	padding:0px 20px 20px 0px;	
}

.pieces > div {
	box-sizing:border-box;
	width:117px;
	height:117px;
	margin-bottom:0px;
	margin-top:5px;	
	border:1px solid #fff;
	padding:10px;
}

.pieces > div.selected {
	/* border: 1px solid #e43989 !important; */
	border: 1px solid #0b9cda !important; 
	background-color: #ddd;	
	margin-bottom:0px !important;	
	margin-top:5px !important;	
	padding:10px !important;	
}

.score-wrapper {
	font-family: 'Droid Sans', sans-serif;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	color:#666;
	padding:20px;
}

.game-over {
	font-family: 'Droid Sans', sans-serif;
	display:none;	
	clear:both;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	color:#666;
	padding-bottom:20px;
}